{% extends "base.html" %}

{% block head %}
<link href="{{ url_for('static', path='/main.css') }}" rel="stylesheet">
<link rel="shortscut icon" href="{{ url_for('static', path='/icon.ico') }}" type="image/x-icon">
<script type="module" src="{{ url_for('static', path='/main.js') }}"></script>
{% endblock %}

{% block title %}
Main
{% endblock %}

{% block content %}
<div class="box">
    <div class="container">


        <div class="topNav">
            <input type="submit" class="submit" value="Home">
            <input type="submit" class="submit" value="Account">
        </div>
        <div class="header">
            <span>Relatives</span>
        </div>
        <div class="content">
            <div class="app"></div>
        </div>
        </div>
    </div>
</div>



{% endblock %}
